<section class="card-container"  style="cursor: pointer" ng-click="frontClick(backUrl)">
    <div class="card" ng-click="backClick(backUrl)"
            >
        <div class="front image-style" style="height: 140px;background-size:cover;border-radius:0px;line-height: 70px;cursor: pointer;background-color :{{color}};background-image: url({{frontImage}})">
            <span style="color: #ffffff;font-family: cursive;font-size: x-large;text-shadow: 0px 10px 10px #333333"><b>{{frontHeader}}</b></span>
            <!--<span>{{frontText}}</span>-->
            <h3 style="bottom: 5px;position: absolute;text-align: center;width: 100%;" class="text-with-white-shadow">{{titleName}}</h3>
        </div>
        <!--<a>-->
        <div class="back image-style" style="height: 140px;border-radius:0px;cursor:pointer;background-color :{{color}};background-size: cover;"
             >

            <h4 style="color: #ffffff;">{{frontHeader}}</h4>
            <span class="default-font text-with-white-shadow" style="font-family: 'Indie Flower', cursive;margin: 10px!important;">{{backText}}</span>
            <!--<div id="footnote">Click Here</div>-->
        </div>
            <!--</a>-->

    </div>
</section>
<!--<span style="text-align: center;width: 100%;padding:5px;display: inline-block " >-->
   <!--<h4><a href="#{{backUrl}}">{{titleName}}</a></h4>-->
<!--</span>-->
