<h4 style="margin: 0px;margin-top: 10px;text-align: -webkit-center;"><b>{{root.header|translate}}</b></h4>
<div>
  <div style="float: left;margin: 10px;">Sort by : <select class="dropdown" ng-options="item.id as item.name for item in orderByaRR" ng-model="selected"></select></div>
  <input class="inputText" style="float: right;margin: 5px" placeholder="Search" type="text" ng-model="searchObj.Name"/>
</div>
<hr style="clear: both">
<div style="clear: both">
  <div ng-repeat="item in data |  orderBy: orderByObj|filter : searchObj">
    <item-card
      image="/images/items/{{item.Name}}.jpg"
      name="{{item.Name}}"
      description="{{item.Description}}"
      price="{{item['Price_per_Minimum_quantity']}}"
      quantity="{{item['Minimum quantity (in grams)']}}"
      place="{{item['Place of Origin']}}"
      ></item-card>
  </div>
</div>

