<div>
    <hr style="margin: 10px 0;" ng-if="!fb_name">
    <div ng-if="fb_name" id="details-element">
        <h4 style="text-align: -webkit-center;color: chocolate;margin: 0;">Hi {{fb_name}} !</h4>
    </div>
</div>

<div id="amount-div" class="alert alert-info" style="clear: left;display: table;padding-bottom: 10px;border: 1px solid;margin-bottom: 0px;width: 100% !important;" class="col-md-10 col-md-offset-1">
    <div style="float: left;display: inline-block;width: 60%;padding-left: 5px;margin-top: 10px;">
        <h4 style="margin-bottom: 0px">Amount: Rs.<span ng-class="{'new-price-cls':hideCoupon}">{{price}}</span></h4>
        <span class="error-red" style="clear: left!important;float: left!important;position: relative" ng-hide="price >= 300">Minimum order amount: Rs.300</span>
        <a style="font-size: small;float: left;clear: left!important" href="#/cart">View Summary</a>

    </div>
    <div style="float: right;display: inline-block;width: 40%;margin-top: 10px;">
<div style="float: right" ng-hide="hideCoupon">
        <input ng-model="root.coupon" size="7" type="text" name="coupon" placeholder="Coupon" style="clear: left;display: inline-block;margin-bottom: 0 !important;float: left;-webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-ms-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;border-radius: 5px;border: 1px solid #DDD;" ng-model="coupon">
        <button style="float: left;padding: 6px 3px" class="btn btn-primary" ng-click="applyCoupon()">Go!</button>
        <h6 style="clear: left;float: left;margin: 0px">Have coupon?</h6>
</div>
        <div ng-show="hideCoupon" style="text-align: center;font-size: small">
            '{{root.coupon}}' applied.<br>You get {{hideCoupon*100}}% discount.
        </div>
    </div>
</div>
<br style="clear: left">
<form name="detailsform" class="col-md-8 col-md-offset-2 form-parent">
    <span style="display: inline-block;width: 100%;position: relative;">
        <label>Email :</label> <br>
        <input type="email" name="email" placeholder="Email" style="display: inline-block;margin-bottom: 0 !important;width: 100%" ng-model="details.email" required>
            <br>
        <span class="error-red" style="bottom: -25%;left: 50%;" ng-show="detailsform.email.$error.email">Not valid email!</span>
        <span class="error-red" style="bottom: -25%;left: 50%;" ng-show="detailsform.email.$error.required">Required!</span>
    </span>
    <br>
    <span style="display: inline-block;width: 100%;position: relative;">
        <hr style="margin-bottom: 5px;">
        <label>Phone number :</label> <br>
<input ng-required="true" type="number" name="phone" ng-minlength="10" ng-maxlength="10" placeholder="Phone" size="10" style="width: 100%;padding-left: 55px;margin-bottom: 0 !important;" ng-model="details.phone" required>
        <span style="outline: none;padding: 10px;border-radius: 5px;border: 1px solid #DDDDDD;margin-left: 10px;margin-bottom: 0 !important;position: absolute;bottom: 0px;left: 0px"  >+91</span>
        <br>
            <span class="error-red" style="bottom: -18%;left: 50%;" ng-show="detailsform.phone.$error.required || detailsform.phone.$error.number">Required!</span>
            <span class="error-red" style="bottom: -18%;left: 50%;" ng-show="((detailsform.phone.$error.minlength || detailsform.phone.$error.maxlength) && detailsform.phone.$dirty) ">Number should be 10 digits</span>
        </span>
    <br>
    <!--<span style="display: inline-block;width: 100%;position: relative;">-->
        <!--<hr style="margin-bottom: 5px;">-->
        <!--<label>Locality :</label>-->
        <!--<span style="margin-top: 10px;font-size: small;color: #337ab7!important;font-weight: 600;text-align: left;width: 100%;">(As of now ,we deliver in these localities)</span><br>-->
        <!--<select style="margin-bottom: 0px;width: 100%;"  ng-options="item as item for item in areaArr" ng-model="details.area">-->
            <!--<option value="">&#45;&#45; Select Locality &#45;&#45;</option>-->
        <!--</select>-->
        <!--<br>-->
        <!--<span  style="bottom: -18%;left: 50%;" class="error-red" ng-show="!details.area">Required!</span>-->
    <!--</span>-->
    <!--<br>-->
    <span style="display: inline-block;width: 100%;position: relative;">
        <hr style="margin-bottom: 5px;">
        <label>Address : </label><br>
        <textarea name="address" rows="4" cols="42" placeholder="Address" ng-model="details.address" style="margin-bottom: 0px;width: 100%;" required></textarea>
        <br>
        <span class="error-red"  style="bottom: -12%;left: 50%;" ng-show="detailsform.address.$error.required">Required!</span>
    </span>

    <br>
    <hr style="margin-bottom: 5px;">
    <span style="float: left;text-align: left;">
        <span class="glyphicon glyphicon-info-sign"></span>
        Order will be delivered on or before:'{{deliverydate.toDateString()}}'
    </span>
    <span style="float: left;text-align: left;clear: left">
        <span class="glyphicon glyphicon-info-sign"></span>
        Cash On Delivery only!
    </span>
    <!--<div style="margin: auto;width:100% ; display:inline-block" class="g-recaptcha" data-sitekey="6LdM2QcTAAAAAHB5rePgdHgGL0kwV0APjM7Vc3bG">-->

    <!--</div>-->
    <div  class="bottom-buttons" style="clear: left;position:relative;bottom: inherit;padding: 10px" ng-class="{'disable-div':(detailsform.email.$error.email || detailsform.email.$error.required ||detailsform.phone.$error.required || detailsform.phone.$error.number
 || ((detailsform.phone.$error.minlength || detailsform.phone.$error.maxlength) && detailsform.phone.$dirty) || !details.area || detailsform.address.$error.required || !price || !(price >= 300) )}">
        <div id="captcha_container" style="background: rgb(245, 222, 179);display: none;padding: 15px;margin: auto;float: none;border: 1px solid black;"></div>
        <button id="submit-button" class="btn btn-primary" style="padding: 15px;display: block;margin: auto;border: 1px solid black;" ng-click="confirm()">Confirm Order</button>
        <!--<iframe src="http://script.google.com/macros/s/AKfycbyzLIzmjG4-wv3fYQI4YLxGY8luZCxdPz_4SUY6Yg4/exec"></iframe>-->

    </div>
</form>


<script src="https://www.google.com/recaptcha/api.js?onload=loadCaptcha&render=explicit" async defer></script>
<script>
    var captchaContainer = null;
    var loadCaptcha = function() {
        captchaContainer = grecaptcha.render('captcha_container', {
            'sitekey' : '6LdM2QcTAAAAAHB5rePgdHgGL0kwV0APjM7Vc3bG',
            'callback' : function(response) {
                console.log(response);
                if(response){
                    $('#submit-button').css("display", "block");
                    $('#captcha_container').css("display", "none");
                }
            }
        });
    };
</script>
<!--<div style="display: block">-->
<!--<div style="margin: auto" class="g-recaptcha" data-sitekey="6LdM2QcTAAAAAHB5rePgdHgGL0kwV0APjM7Vc3bG"></div>-->
<!--</div>-->
