<div class="container-fluid" style="display: inline-block;height: 100%;width: 100%;padding-left: 0!important;  padding-right: 0!important;">

    <div class="col-md-12" style="padding: 0;margin: 5px;">
        <div class="backgrd-cls " style="height: 237px;">
            <div class="squeeze">
                <section class="squeeze-text">
                    "We scour through a variety of sellers and regions to source the most authentic spices and nuts for your finger-licking recipes.
                    <br>
                    Pack it with a pinch of care to keep the flavour intact.
                    <br>
                    Deliver it to the last mile with a smile.
                    "
                </section>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="padding: 0;">
        <div class="col-md-4" style="margin: 0 auto;padding: 0px;height: 160px;">
            <flip-card
                    front-image="images/dryfruits.jpg"
                    title-name="Dry Fruits"
                    back-url="/list?type=dryfruit"
                    back-text="Good things indeed come in small sizes."
                    color="wheat"
            </flip-card></div>
            <div class="col-md-4" style="margin: 0 auto;padding: 0px;height: 160px;">
                <flip-card
                        title-name="Spices"
                        front-image="images/masale.jpg"
                        back-url="/list?type=spice"
                        back-text="Gateway to all your culinary miracles."
                        color="wheat"
               </flip-card></div>

        <div class="col-md-4" style="margin: 0 auto;padding: 0px;height: 160px;">
            <flip-card
                    title-name="Specials"
                    front-image="images/misc.jpg"
                    back-url="/list?type=misc"
                    back-text="Little somethings for your taste buds"
                    color="wheat"
            </flip-card></div>

    </div>
    <div class="col-md-12" style="display: inline;">
    <div style="margin: 0 auto;display: table;">

        <button style="padding: 10px;margin: 2px" ng-click="takeToList()" class="btn btn-primary">Show All Products</button>
      <button style="padding: 10px;margin: 2px;" ng-click="takeToGiftBox()" class="btn btn-primary">Make a gift box</button>

    </div>
        <hr style="margin-bottom: 0px">
    </div>
    <div class="col-md-12" style="display: inline;">
        <ul id="ulist" style="padding: 10px;">
            <li style="list-style-type: none !important;
                font-family: 'Indie Flower', cursive;
                font-size: 130%;">
                Bet big bucks on our quality and taste - we bet you'll win!
            </li>
            <li style="list-style-type: none !important;
                font-family: 'Indie Flower', cursive;
                font-size: 130%;">
                We love comparisons as much as we love being lowest priced online suppliers in town
            </li>
            <li style="list-style-type: none !important;
                font-family: 'Indie Flower', cursive;
                font-size: 130%;">
                Let's spoil you with more time to laze around - delivery @ home
            </li>
        </ul>
    </div>
  <!--<div class="description-class col-md-12 default-font">-->

    <!--<hr>-->
  <!--</div>-->
</div>
